# 📦 Version Control
.git
.gitignore

# 🔧 Dependencies & Build
node_modules/
backend/env/

# 💾 IDE Cache
.idea/
.vscode/

# 🖥️ System & Logs
.DS_Store
npm-debug.log*
yarn-error.log*

# 📄 Documentation
TODO.md 
README.md

# 🏗️ Build Output
.dist

# 🐳 Docker Config
Dockerfile 
docker-compose.yml